body {
  font-family:monospace;
  background-color:#FFE;
}

section {
  border:1px solid gray;
  padding:15px;
  margin:20px 15px;
  width:350px;
  box-shadow:-10px 10px 15px  #CCC;
  background-color:#FFF;
}

h1 {
  text-align:center;
}

#content {
  width:390px;
  margin:0 auto;
}

label {
  width:150px;
  float:left;
}

#all-tasks li {
  list-style:none;
  margin:15px 0px;
}

#all-tasks details.p_0 summary{
  color:red;
}

#all-tasks details.p_1 summary{
  color:blue;
}

#all-tasks details.p_2 summary{
  color:green;
}

#all-tasks span.description {
  margin:5px;
}

#last-created {
  position:fixed;
  top:45px;
  right:10px;
  width:300px;
}

#last-completed {
  position:fixed;
  top:45px;
  left:10px;
  width:300px;
}

#last-completed h3 {
  color:green;
}

#commands {
  position:fixed;
  bottom:0px;
  right:0px;
}