body {
  font-family:monospace;
}
section {
  border:1px solid gray;
  padding:15px;
  margin:15px;
  width:350px;
  box-shadow:-10px 10px  #CCC;
}

h1 {
  text-align:center;
}

#content {
  width:390px;
  margin:0 auto;
}

label {
  width:150px;
  float:left;
}

#new-task {

}